:root {
  --main-bg-color: brown;
}

@font-face {
  font-family: roboto;
  src: url('../theme/fonts/Roboto-Regular.ttf');
}

body {
  background-image: url('../../public/bgDark.jpeg');
  margin: 0px;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bold{
  font-weight: 700;
}
.extraBold {
  font-weight: 800;
}
.superBold {
  font-weight: 900;
}
.navContainer{
  background: transparent;
  z-index: 100;
  margin: 0px;
  padding-top: 10px;
  position: -webkit-sticky;
  position: sticky;
  border-radius: 100%;
  top: 0;
}
.navbar {
  background: linear-gradient(to right, #5354a7,#3652d0);
  display: flex;
  margin: 0px;
  margin-top: 0px;
  padding: 15px;
  border: 2px solid #f9f9f960 ;
  border-radius: 100px;
  /*backdrop-filter: blur(10px);*/
}

.languageSelector {
  margin-left: auto;
}
.navLink {
  background-color: inherit;
  transform: scale(1, 1);
  transition-duration : 0.2s;
  display: inline-flex;
  width: fit-content;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 500;
  text-decoration: underline;
}

.linkList {
  display:inline;
}
.linkButton {
  display:none;
}
.navName{
  display: block;
  border-right: 2px solid #f9f9f960;
  margin-right: 10px;
  padding-right: 10px;
}
.vertical{
  writing-mode :vertical-lr;
  height: max-content;
}
@media only screen and (max-width: 1120px) {
  .navName {
    display: none;
  }
}
@media only screen and (max-width: 991px) {
  .vertical{
    writing-mode :horizontal-tb;
    height: max-content;
  }
}
@media only screen and (max-width: 915px) {
  .navName {
    display: block;
  }
  .linkList {
    display: none;
  }
  .linkButton {
    display: block;
  }
  .navLink {
    display: block;
    margin-bottom:10px;
  }
}
@media only screen and (max-width: 470px) {
  .navName {
    display: none;
  }
}

.navLink:hover {
  transform: scale(1.1, 1.1);
  transition-duration : 0.2s;
}

.invertCont{
  background: inherit;
}

.invertText {
    background: inherit;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(9);
}