:root {
  --main-bg-color: brown;
}

@font-face {
  font-family: roboto;
  src: url('../theme/fonts/Roboto-Regular.ttf');
}

body {
  margin: 0px;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bold{
  font-weight: 700;
}
.extraBold {
  font-weight: 800;
}
.superBold {
  font-weight: 900;
}
.navContainer{
  z-index: 100;
  backdrop-filter: blur(10px);
  margin: 0px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navbar {
  display: flex;
  margin: 10px;
  margin-top: 0px;
  padding: 15px;
  border-bottom: 2px solid black ;
}

.languageSelector {
  margin-left: auto;
}
.navLink {
  display: inline-flex;
  width: fit-content;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  font-weight: 500;
}
.linkList {
  display:inline;
}
.linkButton {
  display:none;
}
.navName{
  display: block;
  border-right: solid 2px black;
  margin-right: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 1000px) {
  .navName {
    display: none;
  }
}
@media only screen and (max-width: 790px) {
  .linkList {
    display: none;
  }
  .linkButton {
    display: block;
  }
  .navLink {
    display: block;
    margin-bottom:10px;
  }
}

.navLink:hover {
  transform: scale(1.2, 1.2);
  transition-duration : 0.15s;

}